# Игнорирование выходных директорий
/build/
/out/
/dist/

# Игнорирование временных файлов IntelliJ IDEA
/.idea/
/*.iml

# Игнорирование системных файлов
*.log
*.class
*.war
*.ear
*.jar

# Игнорирование файлов Gradle
/.gradle/
/gradle/
/build.gradle.kts
/gradle-wrapper.jar

# Игнорирование временных файлов операционной системы
.DS_Store
Thumbs.db
desktop.ini

# Игнорирование временных файлов IDE
*.swp
*.swo
*.bak

# Игнорирование Javadoc выходных файлов
/docs/

# Игнорирование конфигураций среды
*.env
.env

# Игнорирование артефактов jlink и jpackage
/jre/
/image/
/runtime/

# Игнорирование других временных файлов
*.tmp
*.temp

# Исключение для README.md
!README.md
